.nav {
    flex-basis: 20%;
    position: sticky;
    align-self: flex-start;
}
.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    color: #626262;
    max-width: 200px;
}
.item:hover {
    background-color: #e6e6e6;
    transition-duration: 500ms;
    border-radius: 10px;
    width: 100px;  
    cursor: pointer;  
}
.active {
    color: white;
    font-size: 20px;
}