.pageWrapper {
    margin-top: 30px;
    display: flex;    
}
.pageSelected {
    padding: 10px;
    border: 1px solid #efefef;
    cursor: pointer;
    font-weight: bold;
    background: #1876f2;
    color: #fff;
}
.page {
    padding: 10px;
    border: 1px solid #1876f2;
    cursor: pointer;
}
.loader {
    text-align: center;
    margin-top: 50px;
}